{% extends "base.html" %}

{% block title %} Parle Blog Home{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Blogs</h1>
    <div class="container d-flex flex-wrap"> 
        {% for blog in blogs %}
        <div class="card m-3" style="width: 18rem;">
  <img src="{{blog.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{blog.user}} </h5>
    <p class="card-text">{{blog.text}}</p>
    {% if request.user == blog.user %}
    <a href="{% url "update_blog" blog.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url "delete_blog" blog.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
</div>
      {% endfor %}
    </div>
</div>
{% endblock %} 